<div class="container">
  <h1>Power-Ball</h1>
  <div class="form">
    <div>
      <label for="ball-size">Ball size:</label>
      <input type="range" min="10" max="100" name="ball-size" id="ball-size" [(ngModel)]="ballSize">
    </div>
    <div>
      <label for="path-length">Path length:</label>
      <input type="number" name="path-length" id="path-length" [(ngModel)]="pathLength">
    </div>
  </div>
  <div class="diagram">
    <app-path [ballSize]="ballSize" [length]="pathLength" [isHorizontal]="true"></app-path>
    <app-path [ballSize]="ballSize" [length]="pathLength" [isHorizontal]="false" [isReverse]="true"></app-path>
    <app-path [ballSize]="ballSize" [length]="pathLength" [isHorizontal]="true" [isReverse]="true"
      [style.top.px]="pathLength"></app-path>
    <app-path [ballSize]="ballSize" [length]="pathLength" [isHorizontal]="false" style="position: relative;"
      [style.top.px]="-(pathLength+1)" [style.left.px]="pathLength">
    </app-path>
  </div>
</div>